body {
  max-width: 960px;
  margin: 0 auto;
}

table {
  color: red;
}

div {
  border: 1px solid black;
  padding: 5px 15px;
}

.nav {
  position: sticky;
  top: 0px;
  text-align: center;
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}

.text {
  float: left;
  margin-right: 10px;
  max-width: 250px;
}

.marklist {
  float: right;
  margin-left: 10px;
  max-width: 200px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  max-height: 40px;
  line-height: 8px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: right;
  background-color: grey;
}

.ptext {
  font-size: 20px;
}
