body {
  background: url(gray.jpg);
  max-width: 960px;
  margin: 0 auto;
}

table {
  color: black;
}

a {
  text-decoration: none;
}

div {
  border: 1px solid black;
  padding: 5px 15px;
}

.nav {
  position: sticky;
  top: 0px;
  text-align: center;
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 55px;
}

.anav {
  color: black;
}

.navbutton {
  min-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}

.text {
  float: left;
  margin-right: 10px;
  max-width: 250px;
}

.marklist {
  float: right;
  margin-left: 10px;
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
}

.imggray {
  float: left;
  margin: 4px 10px 2px 0px;
  border: 1px solid white;
  padding: 3px;
}

.pimg {
  font-size: 22px;
  text-align: justify;
  line-height: 33px;
  margin-top: 6px;
}

.calkulate {
  min-width: 180px;
  min-height: 180px;
  font-style: bold;
  font-size: 30px;
}

.divbutton {
  max-width: 200px;
  max-height: 200px;
}

.divinput {
  max-width: 740px;
  max-height: 200px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  background-color: grey;
}

.ptext {
  font-size: 20px;
}
