body {
  background: url(gray.jpg);
  background-attachment: fixed;
  max-width: 960px;
  margin: 0 auto;
}

#title {
  font-size: 43px;
}

.ptitle {
  font-size: 21px;
}

table {
  color: black;
}

a {
  text-decoration: none;
}

#atext {
  font-family: Arial;
  color: black;
  font-size: 17px;
	text-decoration: underline; !important
}

div {
  padding: 5px 15px;
}

.nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.anav {
  color: black;
  border: 1px dashed black;
  color: #C0C0C0;
}

.navbutton {
  font-style: bold;
  font-size: 22px;
  text-align: center;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}

.text {
  font-size: 20px;
  border: 1px solid black;
  float: left;
  margin-right: 10px;
  max-width: 350px;
}

.ptext {
  font-size: 20px;
}

.marklist {
  border: 1px solid black;
  float: right;
  font-size: 20px;
  margin-left: 10px;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
}

.tabletext {
  font-size: 22px;
}

table {
  border: 1px solid grey;
  text-align: center;
}

tr, td {
  background-color: #696969;
  padding: 15px;
  border-radius: 10px;
}

th {
  background-color: #808080;
  padding: 15px;
}

.imggray {
  float: left;
  margin: 4px 10px 2px 0px;
  border: 1px solid white;
  padding: 3px;
}

.pimg {
  font-size: 22px;
  text-align: justify;
  line-height: 33px;
  margin-top: 6px;
}

.calkulate {
  padding-left: 0px;
  max-width: 180px;
  max-height: 220px;
}

.divcalkulate-input {
  display: flex;
}

.divcalkulate {
  padding-left: 0px;
  max-width: 180px;
  max-height: 220px;
}

.divinput {
  font-size: 22px;
  max-width: 740px;
  max-height: 200px;
}

.divinmonth {
  margin-left: 228px;
}

.inmonth {
  min-height: 36px;
  font-style: bold;
  font-size: 20px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  background-color: grey;
}

.ghprof {
  float: left;
}

#aghpr {
  color: white;
}

.mail {
  float: right;
}
